.header {
  background-color: #221f30;
  margin: 0;
  top: 0;
  height: 68px;
  padding: 0 30px 0 110px;
}

h2 {
  display: inline-block;
  padding: 15px 0;
  color: white;
  margin: 0;
  letter-spacing: 1px;
}
.profile {
  float: right;
  line-height: 48px;
  text-align: center;
  margin: 10px 0 0;
}

label {
  color: white;
  display: block;
  height: 48px;
  float: right;
  margin: 0 10px;
  font-family: "Damion", cursive;
  font-size: 18px;
  font-weight: normal;
}
